<div class="header header__display header__position header__view">
    <a href="/">
        <div class="header-logo header-logo__display header-logo__position header-logo__view">
            <i class="fa-brands fa-html5"></i>
        </div>
    </a>

    <div class="header-title header-title__position header-title__view">
        <p class="header-title-text header-title-text__position">Zadanie <strong>rekrutacyjne</strong></p>
        <p class="header-title-text header-title-text__position user-name user-name__display">Jakub Horbacz</p>
    </div>
</div>