@import "../app.component.scss";

$headerBackgroundColor: #0b0c10;
$headerIconColor: #fff;
$headerIconSize: 11vw;
$headerIconBackground: #303030;
$headerIconWidth: 15vw;
$headerIconHeight: 14vw;
$headerIconMarginLeft: 0.3em;
$headerIconHoverBackgroundColor: #e78301;

.header {

    &__display {
        display: flex;
        align-items: center;
    }

    &__position {
        height: $headerHeight;
        width: 100%;
    }

    &__view {
        background-color: $headerBackgroundColor;
    }

    .header-logo {

        &__display {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $headerIconWidth;
            height: $headerIconHeight;
        }

        &__position {
            padding-top: calc($headerIconWidth - $headerIconHeight);
            margin-left: $headerIconMarginLeft;
        }

        &__view {
            background-color: $headerIconBackground;
            border-radius: 50%;
            color: $headerIconColor;
            font-size: $headerIconSize;

            &:hover {
                background-color: $headerIconHoverBackgroundColor;
            }
        }
    }

    .header-title {
        &__display {}

        &__position {
            right: 2em;
            position: absolute;
        }

        &__view {
            color: $mainFontColor;
            text-align: right;
        }

        .header-title-text {

            &__display {}

            &__position {
                margin: 0;
            }

            &__view {
                font-size: 3vw;
            }

        }
    }
}