@import "../app.component.scss";

$footerHeight: 25vw;
$footerBackgroundColor: #15161a;
$footerBorderColor: #0a0b0d;
$borderWidth: 3px;

.footer {
    &__display {
        height: $footerHeight;
        width: 100%;
    }

    &__position {}

    &__view {
        background-color: $footerBackgroundColor;
        border-top: $borderWidth solid $footerBorderColor;
    }
}