@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
app-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.footer__display {
  height: 20vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.footer__position {
  position: relative;
}
.footer__view {
  background-color: #15161a;
  border-top: 3px solid #0a0b0d;
}
.footer .css-is-awesome__display {
  left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .css-is-awesome__position {
  position: relative;
  z-index: 1;
}
.footer .css-is-awesome__view {
  width: 15vw;
  height: 15vw;
  border: 2px solid #2c2d32;
}
.footer .css-is-awesome:hover {
  border-color: #b18d5d;
  rotate: 360deg;
  -webkit-transition: rotate 1s;
  transition: rotate 1s;
  cursor: pointer;
}
.footer .css-is-awesome:hover ~ .css-is-awesome-text {
  color: #a4a8b4;
}
.footer .css-is-awesome-text__display {
  left: 0;
}
.footer .css-is-awesome-text__position {
  position: absolute;
}
.footer .css-is-awesome-text__view {
  text-transform: uppercase;
  padding-left: 4.5vw;
  font-size: 3.3333333333vw;
  color: #2c2d32;
  letter-spacing: 0.1875vw;
}
.footer .nabthat__display {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .nabthat .line__display {
  width: 2em;
  height: 1px;
}
.footer .nabthat .line__position {
  margin: auto 5px;
}
.footer .nabthat .line__view {
  background-color: #2c2d32;
}
.footer .nabthat h2 {
  color: #2c2d32;
  font-weight: normal;
}
.footer .show-settings__position {
  margin-right: 3vw;
}
.footer .show-settings .show-button__display {
  width: 45vw;
  height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .show-settings .show-button__position {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vw 0;
}
.footer .show-settings .show-button__view {
  text-transform: uppercase;
  border: 1px solid #2c2d32;
  border-radius: 3px;
  background-color: #15161a;
  color: #a3a9b5;
  font-weight: 900;
}
.footer .show-settings .show-button:hover {
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}
.footer .show-settings .showIt:focus ~ .show-block {
  -webkit-animation-name: showIt;
          animation-name: showIt;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: block;
  z-index: -2;
}
.footer .show-settings .showIt:focus::after {
  content: "";
  width: 45vw;
  height: calc(20vw + 3px);
  border-top: 3px solid #0a0b0d;
  background-color: #15161a;
  position: absolute;
  z-index: -1;
}
@-webkit-keyframes showIt {
  from {
    bottom: 0;
  }
  to {
    bottom: calc(20vw + 3px);
  }
}
@keyframes showIt {
  from {
    bottom: 0;
  }
  to {
    bottom: calc(20vw + 3px);
  }
}
.footer .show-settings .hideIt:focus ~ .show-block {
  -webkit-animation-name: hideIt;
          animation-name: hideIt;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: none;
  z-index: -2;
}
.footer .show-settings .hideIt:focus::after {
  content: "";
  width: 45vw;
  height: calc(20vw + 3px);
  border-top: 3px solid #0a0b0d;
  background-color: #15161a;
  position: absolute;
  z-index: -1;
}
@-webkit-keyframes hideIt {
  from {
    bottom: calc(20vw + 3px);
  }
  to {
    bottom: 0;
  }
}
@keyframes hideIt {
  from {
    bottom: calc(20vw + 3px);
  }
  to {
    bottom: 0;
  }
}
.footer .show-settings .show-block__display {
  display: none;
  width: 45vw;
}
.footer .show-settings .show-block__position {
  position: absolute;
  right: 3vw;
  bottom: calc(20vw + 3px);
}
.footer .show-settings .show-block__view {
  background-color: #fff;
  color: #141517;
  list-style-image: url("https://fontawesome.com/icons/chevron-right?f=classic&s=solid");
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 13px 7px #15161a;
          box-shadow: 0px 0px 13px 7px #15161a;
}
.footer .show-settings .show-block .settings-text {
  color: #141517;
}
.footer .show-settings .show-block .settings-text:hover {
  color: #e88301;
  cursor: pointer;
}