@import "../app.component.scss";

$footerHeight: 20vw;
$footerBackgroundColor: #15161a;
$footerBorderColor: #0a0b0d;
$footerBorderWidth: 3px;
$footerItemsLefrRightMargin: 3vw;
$cssAwesomeDimention: 15vw;
$cssAwesomeBorderWidth: 2px;
$cssAwesomeColor: #2c2d32;
$hoverBorderColor: #b18d5d;
$hoverFontColor: #a4a8b4;
$nabthatColor: #2c2d32;
$showSettingsFontColor: #141517;
$showSettingsHoverFontColor: #e88301;
$showSettingsBackgroundColor: #fff;
$buttonWidth: 45vw;
$buttonHeight: 3vw;
$buttonBorderColor: #2c2d32;
$buttonBackgroundColor: #15161a;
$buttonFontColor: #a3a9b5;
$buttonHoverBorderColor: #fff;
$buttonHoverFontColor: #fff;

.footer {
    &__display {
        height: $footerHeight;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    &__position {
        position: relative;
    }

    &__view {
        background-color: $footerBackgroundColor;
        border-top: $footerBorderWidth solid $footerBorderColor;
    }

    .css-is-awesome {
        &__display {
            left: $footerItemsLefrRightMargin;
            display: flex;
            align-items: center;
        }

        &__position {
            position: relative;
            z-index: 1;
        }

        &__view {
            width: $cssAwesomeDimention;
            height: $cssAwesomeDimention;
            border: $cssAwesomeBorderWidth solid $cssAwesomeColor;
        }

        &:hover {
            border-color: $hoverBorderColor;
            rotate: 360deg;
            transition: rotate 1s;
            cursor: pointer;
        }

        &:hover~.css-is-awesome-text {
            color: $hoverFontColor;
        }

    }

    .css-is-awesome-text {
        &__display {
            left: 0;
        }

        &__position {
            position: absolute;
        }

        &__view {
            text-transform: uppercase;
            padding-left: calc(calc($cssAwesomeDimention / 10) + $footerItemsLefrRightMargin);
            font-size: calc($cssAwesomeDimention / 4.5);
            color: $cssAwesomeColor;
            letter-spacing: calc($cssAwesomeDimention / 80);
        }
    }

    .nabthat {
        &__display {
            display: none;
            flex-direction: row;
        }

        &__position {}

        &__view {}

        .line {
            width: 2em;
            height: 1px;
            margin: auto 5px;
            background-color: $nabthatColor;
        }

        h2 {
            color: $nabthatColor;
            font-weight: normal;
        }

    }

    .show-settings {

        margin-right: $footerItemsLefrRightMargin;

        &__display {}

        &__position {}

        &__view {}



        .show-button {
            width: $buttonWidth;
            height: $buttonHeight;
            text-transform: uppercase;
            border: 1px solid $buttonBorderColor;
            border-radius: 3px;
            background-color: $buttonBackgroundColor;
            color: $buttonFontColor;
            font-weight: 900;
            padding: 4vw 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .fa-chevron-down {
                display: none;
            }

            &:hover {
                border-color: $buttonHoverBorderColor;
                color: $buttonHoverFontColor;
                cursor: pointer;
            }

            &:focus~.show-block {
                animation-name: showIt;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                display: block;
                z-index: -2;
            }

            &:focus {


                &::after {
                    content: "";
                    width: $buttonWidth;
                    height: calc($footerHeight + $footerBorderWidth);
                    border-top: $footerBorderWidth solid $footerBorderColor;
                    background-color: $footerBackgroundColor;
                    position: absolute;
                    z-index: -1;
                }
            }

            @keyframes showIt {
                from {
                    bottom: 0;
                }

                to {
                    bottom: calc($footerHeight + $footerBorderWidth);
                }
            }

        }

        .show-block {
            width: $buttonWidth;
            background-color: $showSettingsBackgroundColor;
            color: $showSettingsFontColor;
            list-style-image: url('https://fontawesome.com/icons/chevron-right?f=classic&s=solid');
            text-transform: uppercase;
            box-shadow: 0px 0px 13px 7px $footerBackgroundColor;
            position: absolute;
            bottom: calc($footerHeight + $footerBorderWidth);
            display: none;
            right: $footerItemsLefrRightMargin;


            .settings-text {
                color: $showSettingsFontColor;

                &:hover {
                    color: $showSettingsHoverFontColor;
                    cursor: pointer;
                }
            }
        }



    }

}