<div class="footer footer__display footer__position footer__view">
    <div class="css-is-awesome css-is-awesome__display css-is-awesome__position css-is-awesome__view">
    </div>
    <div
        class="css-is-awesome-text css-is-awesome-text__display css-is-awesome-text__position css-is-awesome-text__view">
        <span>css<br>is<br>awesome</span>
    </div>
    <div class="nabthat nabthat__display">
        <div class="line"></div>
        <h2>
            nabthat
        </h2>
        <div class="line line__display line__position line__view"></div>
    </div>
    <div class="show-settings show-settings__position">

        <button type="button" class="show-button show-button__display show-button__position show-button__view showIt">
            pokaż&nbsp;<i class="fa-sharp fa-solid fa-chevron-up footerArrow" data-button="frame-closed"></i>
        </button>
        <div class="show-block show-block__display show-block__position show-block__view">
            <ul class="fa-ul">
                <li><a class="settings-text">
                        <span class="fa-li"><i
                                class="fa-sharp fa-solid fa-chevron-right"></i></span>zresetuj&nbsp;ustawienia
                    </a></li>
                <li><a class="settings-text">
                        <span class="fa-li"><i
                                class="fa-sharp fa-solid fa-chevron-right"></i></span>pokaż&nbsp;dane&nbsp;osobowe
                    </a></li>
            </ul>
        </div>
    </div>
</div>