<div class="main-content">
    <div class="main-header">
        <h1 class="__position __view">
            Nagłówek H1
        </h1>
        <hr>
    </div>
    <div class="main-blocks main-blocks__display main-blocks__position main-blocks__view">
        <div class="block-one block-one__display block-one__position block-one__view">
            <h2>Blok pierwszy</h2>
            <div class="r-buttons r-buttons__display r-buttons__position r-buttons__view">
                <label for="option-one">
                    <input type="radio" class="hide" name="fa-dot-circle-o1" id="option-one" value="option-one" checked>
                    <i class="fa fa-fw fa-dot-circle-o"></i>
                    <span class="radio-text radio-text__view">&nbsp;Opcja pierwsza</span>
                </label>
                <br>
                <label for="option-two">
                    <input type="radio" class="hide" name="fa-dot-circle-o1" id="option-two" value="option-two">
                    <i class="fa fa-fw fa-dot-circle-o"></i>
                    <span class="radio-text radio-text__view">&nbsp;Opcja druga</span>
                </label>
                <br>
                <label for="option-three">
                    <input type="radio" class="hide" name="fa-dot-circle-o1" id="option-three" value="option-three">
                    <i class="fa fa-fw fa-dot-circle-o"></i>
                    <span class="radio-text radio-text__view">&nbsp;Opcja losowa</span>
                </label>
            </div>



        </div>
        <div class="block-two block-two__display block-two__position block-two__view">
            <h2>Blok drugi</h2>
            <div class="buttonsWrapper">
                <button type="button"
                    class="change-button change-button__display change-button__position change-button__view">
                    zastąp
                </button>
                <button type="button" class="add-button add-button__display add-button__position add-button__view">
                    doklej
                </button>
            </div>
        </div>
        <div class="block-three block-three__display block-three__position block-three__view">
            <h2>Blok z długą nazwą która sama się przytnie Blok z długą nazwą która sama się przytnie</h2>
            <div class="block-three-texts block-three-texts__view">
            </div>
        </div>
    </div>
</div>